*~
/dist-newstyle/
/.ghc.environment.*
/dist/
/.stack-work/
/stack*.lock
/resolv.buildinfo
/configure
/config.log
/config.status
/autom4te.cache/
/cbits/hs_resolv_config.h
/cbits/hs_resolv_config.h.in
